Django
django-forms-bootstrap==3.1.0
beautifulsoup4
django-paypal
pbr
disqus
six
arrow
python-dateutil
funcsigs
django-emoticons
django-disqus
requests
appdirs
django-registration
django-tinymce
stripe
mock==2.0.0
pytz
djangorestframework
Pillow
pymongo3.5.1
certifi
packaging==16.8
urllib3==1.22
gunicorn==19.4.0
pyparsing
idna
chardet
idna==2.5
pbr==3.1.1
pip==9.0.1
pyparsing==2.2.0
python-dateutil==2.4.2
pytz==2017.2
requests==2.18.4
six==1.10.0
wsgiref==0.1.2